@model IEnumerable<comp2007w2018finalB.Models.Brewery>

@{
    ViewBag.Title = "Breweries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Breweries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            <a href="@item.Url" target="_blank">@Html.DisplayFor(modelItem => item.Url)</a>
        </td>
        <td>
           
            <img src="~/Content/images/@item.Logo" />
        </td>
        
    </tr>
}

</table>
